.card{
    width: 400px;
    height: 250px;
    position: relative;
    perspective: 1000px; /*Добавляем глубину, чтобы при повороти карточки был эффект 3D*/ 
}
.front, .back{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items:center;
    transition: 1s all ease;
    backface-visibility: hidden; /*скрываем тыльную часть карточки, это нужно что бы не видеть тыльную часть после поворота на 180 градусов*/
    border-radius: 20px;
}
.back{
    transform: rotateY(180deg);
    display: block;
    text-align: center;
    font-size: 20px;
}
.card:hover .front{
    transform: rotateY(180deg);/*Переворачиваем карточку*/
}
.card:hover .back{
    transform: rotateY(360deg);/*Т.к уже перевернута на 180, то при наведении переворачиваем на 360*/
}

.pic {
    height: inherit;
    width:inherit;
    border-radius: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrap {
    margin: 20px;
}

p {
    margin: 20px;
}

.b1 {
    background-color: #bc6e3a;
    color: white;
}

.b2 {
    background-color: #38506b;
    color: white;
}

.b3 {
    background-color: #ad5c9a;
    color: white;
}

.b4 {
    background-color: #6e6e6f;
    color: white;
}

.b5 {
    background-color: #324336;
    color: white;
}

.b6 {
    background-color: #467ca0;
    color: white;
}

* {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
  background: #24242a;
}

.container1 {
  display: flex;
/*   border:1px solid red; */
  height: 100%;
  align-items: center;
}

svg {
    display: block;
    font: 6em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 3px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

header {
    height: 140px;
}